body { 
    font-family: Arial, Helvetica, sans-serif; 
} 

#board { 
    width: 480px; 
    height: 480px; 
    margin-right: auto; 
    margin-left: auto; 
    border: solid;
}

#buttons {
    margin-top: 10px;
    text-align:center;
}

#buttons button {
    width: 100px;
}

.square {
    width: 60px;
    height: 60px;
    float: left; 
} 

.whiteSquare {
    background-color: floralwhite;
}

.blackSquare {
    background-color: darkgoldenrod;
}

.piece {
    height: 100%;
    width: 100%;
}